

.pirma-didele {
    display: inline-block;
    width: 39%;
    height: 400px; 
    vertical-align: top;
   margin-right: 5px;

}
.antra-didele {
    display: inline-block;
    width: 59%;
    height: 400px;
  
}

.pirmos-trejetas {
    
    width: 100%;
    height: 120px;
    border: solid 2px black;
    margin-bottom: 15px;
}
.antros-per-visa {
    display: block;
    width: 100%;
    height: 190px;
    border: solid 2px black;
}
.antros-dvi {
    display: inline-block;
    width: 49%;
    margin-top: 15px;
   
    height: 190px;
    border: solid 2px black;
}